<!DOCTYPE html>
<html lang="en">
<head>
<title>Flashy Error Page a Flat Responsive Widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Smart Error Page Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
<!-- /font files -->
<!-- css files -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- /css files -->
<!-- js files -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	
</head>
<!-- /js files -->
<body>

{{#if power}}
	<div class="container">
  <!-- Trigger the modal with a button -->
  
  <!-- Modal -->
  <div class="modal show" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thông báo</h4>
        </div>
        <div class="modal-body">
          <p>Bạn không có quyền để thực hiện chức năng này</p>
		  <p>Chọn tiếp theo để quay về trang chủ.</p>
        </div>
        <div class="modal-footer">
          <a class="btn btn-primary" href="/" role="button">Tiếp theo</a>
        </div>
      </div>
      
    </div>
  </div>
  
</div
		
{{/if}}
			
<div class="container demo-2">
	<div class="content">
        <div id="large-header" class="large-header">
			<h1 class="header-w3ls">Flashy Error Page</h1>
			<p class="w3-agileits1">Oops!</p>
            <canvas id="demo-canvas"></canvas>
			<img src="/images/error/owl.gif" alt="flashy" class="w3l">	
			<p class="w3-agileits2">We can't seem to find the page you're looking for.</p>
			<p class="copyright">© 2017 Flashy Error Page. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">MagNews</a></p>
        </div>
	</div>
</div>	
<!-- js files -->
<script src="/js/rAF.js"></script>
<script src="/js/demo-2.js"></script>
<!-- /js files -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>
