<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
{{#if done}}
<div class="container">
  <!-- Trigger the modal with a button -->
  
  <!-- Modal -->
  <div class="modal show" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thông báo</h4>
        </div>
        <div class="modal-body">
          <p>Đổi mật khẩu thành công</p>
		  <p>Chọn tiếp theo để đăng nhập lại.</p>
        </div>
        <div class="modal-footer">
          <a class="btn btn-primary" href="/login" role="button">Tiếp theo</a>
        </div>
      </div>
      
    </div>
  </div>
  
</div
	
{{/if}}
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Đổi mật khẩu</h3>
            </div>
            <div class="card-body">
                <form id="loginform" role="form" method="POST" action="/login/changepass">
                    {{#if error}}
                    <div id="login-alert" class="alert alert-danger col-sm-12">
                        {{error}}
                    </div>
                    {{/if}}
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input name="old_password" type="text" class="form-control" placeholder="Mật khẩu cũ">
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input name="new_pasword" type="password" class="form-control" placeholder="Mật khẩu mới">
                        </div>
                        
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input name="confirm_newpass" type="password" class="form-control" placeholder="Xác nhận mật khẩu">
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" value="Cập nhập" class="btn float-right btn-outline-danger">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>