<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<div class="container">
	<div class="justify-content-between col-md-12">
		<div class="card">
			<div class="card-header">
				<h3>Thông tin tài khoản</h3>
			</div>
			<div class="card-body">
				<form id="loginform" role="form" method="POST" action="/profile">
					
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input name="username" type="text" class="form-control" placeholder="Username" value="{{this.data.user.username}}" readonly> 
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                            </div>
                            <input name="display_name" type="display_name" class="form-control" placeholder="Họ và tên"
                         value="{{this.data.user.full_name}}">
                        </div>
                        {{#if roleWriter}}
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-feather-alt"></i></span>
                            </div>
                            <input name="pseudonym" type="text" class="form-control" placeholder="Bút danh"
                         value="{{this.data.user.pseudonym}}">
                        </div>
                        {{/if}}
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input name="email" type="email" class="form-control" placeholder="Email"
                         value="{{this.data.user.email}}">
                        </div>
                        
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-birthday-cake"></i></span>
                            </div>
                            <input name="date_of_birth" type="date" class="form-control" placeholder="Ngày sinh"
                         value="{{this.data.date_of_birth}}">
                </div>

                <div class="form-group">
                    <input type="submit" value="Cập nhập" class="btn float-right btn-outline-danger">
                </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    <a href="/login/changepass">Đổi mật khẩu</a>
                </div>
            </div>
        </div>
    </div>
    </div>