<!DOCTYPE html>
<html lang="en">

<head>
	<title>Báo Việt</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
	<link rel="icon" type="/image/png" href="/images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/style_lam.css">
	<script src="https://cdn.ckeditor.com/ckeditor5/12.1.0/classic/ckeditor.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>


</head>

<body class="animsition">

	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="topbar">
				<div class="content-topbar container h-100">
					<div class="left-topbar">
						<span class="left-topbar-item flex-wr-s-c">
							<span>
								Tp.Hcm
							</span>

							<img class="m-b-1 m-rl-8" src="/images/icons/icon-night.png" alt="IMG">

							<span>
								HI 58° LO 56°

							</span>
						</span>

						<a href="#" class="left-topbar-item">
							About
						</a>

						<a href="#" class="left-topbar-item">
							Contact
						</a>
						{{#if isAuthenticalted}}
						{{else}}
						
						<a href="/register" class="left-topbar-item">
							Sign up
						</a>
						
						{{/if}}
					</div>
					{{#if isAuthenticalted}}
					<!-- Example single danger button -->
					<ul class="main-menu justify-content-center">
						<li class="main-menu">
							<a style="color:white" href="#">Hi {{authUser.full_name}}</a>
							<ul class="sub-menu">
								<li><a href="/profile">Thông tin tài khoản</a></li>
								{{#if roleEditor}}
								<li><a href="/editer">Duyệt bài</a></li>
								{{/if}}
								{{#if roleWriter}}
								<li><a href="/PhongVien">Đăng bài</a></li>
								{{/if}}

								<li><a href="/logout">Đăng xuất</a>
								</li>
							</ul>
						</li>
					</ul>


					{{else}}
					<div class="right-topbar">
						<a href="#">
							<span class="fab fa-facebook-f"></span>
						</a>

						<a href="#">
							<span class="fab fa-twitter"></span>
						</a>

						<a href="#">
							<span class="fab fa-pinterest-p"></span>
						</a>

						<a href="#">
							<span class="fab fa-vimeo-v"></span>
						</a>

						<a href="#">
							<span class="fab fa-youtube"></span>
						</a>
						<a href="/login" class="left-topbar-item">
							Log in
						</a>
					</div>
					{{/if}}

				</div>
			</div>

			<div class="wrap-logo no-banner container">
				<!-- Logo desktop -->
				<div class="logo">
					<a href="#"><img src="/images/icons/logo-01.png" alt="LOGO"></a>
				</div>
			</div>

			<!--  -->
			<div class="wrap-main-nav">
				<div class="main-nav">
					<!-- Menu desktop -->
					<nav class="menu-desktop">
						<a class="logo-stick" href="#">
							<img src="/images/icons/logo-01.png" alt="LOGO">
						</a>
						<ul class="main-menu justify-content-center">
							<li class="main-menu">
								<a href="/trangchu">Trang chủ</a>
								<ul class="sub-menu">
									<li><a href="/trangchu/#Top bài viết nổi bật">Top bài viết nổi bật</a></li>
									<li><a href="/trangchu/#Top bài viết mới nhất">Top bài viết mới nhất</a></li>
									<li><a href="/trangchu/#Top bài viết xem nhiều nhất">Top bài viết xem nhiều nhất</a>
									</li>
								</ul>
							</li>
							{{#each category as |item|}}
							<li class="main-menu">
								<a href="#">{{name}}</a>
								<ul class="sub-menu">
									{{#each ../categorychild}}
									{{#if (equal idCategory item.id)}}
									<li><a href="/trangchuyenmuc/chuyenmuc/{{id}}">{{name}}</a></li>
									{{/if}}
									{{/each}}

								</ul>
							</li>
							{{/each}}
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>

	{{{body}}}

	<!-- Footer -->
	<footer>
		<div class="bg11">
			<div class="container size-h-4 flex-c-c p-tb-15">
				<span class="f1-s-1 cl0 txt-center">
					Copyright © 2018

					<a href="#" class="f1-s-1 cl10 hov-link1">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>
							document.write(new Date().getFullYear());
						</script> All rights reserved | This template
						is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
							target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</span>
			</div>
		</div>
	</footer>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
	</div>

	<!-- Modal Video 01-->
	<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document" data-dismiss="modal">
			<div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

			<div class="wrap-video-mo-01">
				<div class="video-mo-01">
					<iframe src="https://www.youtube.com/embed/wJnBTPUQS5A?rel=0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function () {

			$('#txtDOB').datetimepicker({
				format: 'd/m/Y',
				timepicker: false,
				mask: true,
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/js/main.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js">
	</script>
</body>

</html>