


<div class="card shadow">
  <h4 class="card-header">
    Lý do từ chối
  </h4>
  <div class="card-body">
    <form method="POST" action="/editer/capnhattrangthai">
      <div class="form-group">
        <label for="txtid">id bài viết</label>
        <input readonly type="text" class="form-control" id="txtid" name="ID" value="{{this.editer.id}}">
        <label for="txtitle">tiêu đề bài viết</label>
        <input readonly type="text" class="form-control" id="txtitle" name="title" value="{{this.editer.title}}">
        <label for="txtCatName">Lý do</label>
        <input type="text" class="form-control" id="txtCatName" name="citizie" value="{{this.editer.citizie}}" autofocus placeholder="Nhập lý do">
      </div>
      <a class="btn btn-primary" href="/editer" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Back
      </a>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </form>
  </div>
</div>

