
  <div class="row" style="margin-bottom: 50px; margin-top:50px;">
  <div class="col-sm-3" style="margin-top:20px; ">
        <div class="card shadow">
          <h5 class="card-header">
            Chuyên Mục
          </h5>
          <div class="list-group list-group-flush">
            {{#each lccategoriesChild}}
                <a href="/editer/{{id}}" class="list-group-item list-group-item-action  {{#if isActive}}active{{/if}}">
              {{name}}
             
            </a>
            {{/each}}
            
          </div>
        </div>
      </div>
      
  <div class="col-sm-8" style="margin-top:20px; ">
    <form method="" action="/editer">
    <div class="card shadow">
      <h5 class="card-header">
        Danh Mục Bài Viết
      </h5>
      <table class="table table-hover">
        <thead>
          <tr>
             <th scope="col">Mã bài viết</th>
            <th scope="col">Tên Bài Viết</th>
            <th scope="col">Phóng Viên</th>
            <th scope="col">Ngày Đăng</th>
            <th scope="col" class="text-right">
              <a class="btn btn-outline-success" href="/editer" role="button">
                <i class="fa fa-all" aria-hidden="true"></i>
                Xem danh sách tất cả
              </a>
            </th>
          </tr>
        </thead>
        
        <tbody>
          {{#each this.editer}}
          <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{pseudonym}}</td>
            <td>{{time}}</td>
            <td class="text-right">
              {{#if citizie}}
                <span class="badge badge-danger">Denied</span>
              {{/if}}
              <a href="/editer/ok/{{id}}"  class="btn btn-success btn-sm">
                <i class="fa fa-check" style="color: white;" aria-hidden="true"></i>
              </a>
               <a href="/editer/deny/{{id}}"  class="btn btn-danger btn-sm">
                <i class="fa fa-times" style="color: white;" aria-hidden="true"></i>
              </a>
              <a href="/editer/detail" class="btn btn-primary btn-sm" role="button">
                <i class="fa fa-eye" style="color: white;" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          {{/each}}
        </tbody>
     
      </table>
    </div>
   
  </div>
 
</div>
</div>
