<form method="POST" action="/editer/duyetbaitc">
  <div class="row" style="margin: 50px 200px 50px 200px">
      <div class="col">
  <div class="card shadow" >
      <div class="card-header" style="">
          Thông tin bài viết
      </div>
      <div class="card-body">
          <label for="txtid">Mã bài viết</label>
          <input readonly type="text" class="form-control" id="txtid" name="ID" value="{{this.editer.id}}">
          <label for="txtitle">Tiêu Đề</label>
          <input readonly type="text" class="form-control" id="txtitle" name="title" value="{{this.editer.title}}">
          <label for="txtitle">Bút Danh</label>
          <input readonly type="text" class="form-control" id="txtitle" name="title" value="{{this.editer.pseudonym}}">
      </div>
  </div>
  <div class="form-group" style="margin-top: 10px">
        <label for="txtDOB">Ngày xuất bản</label>
        <input type="text" class="form-control" id="txtDOB" name="nxb">
      </div>
  <button type="submit"  class="btn btn-success" style="margin:20px 40px">Duyệt bài</button>
</div>
<div class="col">
   <div id="accordion">
                      <div class="card shadow">
                        <div class="card-header" >
                            <b>Chuyên mục:</b>
                            <a class="card-link" data-toggle="collapse" href="#collapseOne" style="float: right;">
                                
                                <i class='fas fa-angle-down'></i>
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                          <div class="card-body">
                            <div class="d-block my-3">
                                              <div class="form-check">
                                              {{#each this.categoryChild}}
                                              <input style="margin-left:5%"class="form-check-input" type="radio" name="group1[]" value="{{idCategoryChild}}" required/>
                                              <label style="margin-left:20%">
                                              {{nameCategoryChild}}</label>
                                              
                                              {{/each}}
                                              </div>                                    
                            </div>
                          </div>
                      </div>
                    </div>
                    
                  </div>
                  
                  <br>
                  <div id="accordion2">
                    <div class="card shadow">
                      <div class="card-header" >
                          <b>Thẻ:</b>
                          <a class="card-link" data-toggle="collapse" href="#collapseTwo" style="float: right;">
                              <i class='fas fa-angle-down'></i>
                          </a>
                      </div>
                      <div id="collapseTwo" class="collapse show" data-parent="#accordion2">
                        <div class="card-body">
                          <div class="d-block my-3">
                            {{#each this.tag}}
                                <div class="form-check">
                                  <input style="margin-left:5%" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="{{idTag}}" name="group2[]">
                                  <label style="margin-left:20%" >{{nameTag}}</label>
                                </div>
                                              
                            {{/each}}             
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  </div>
  </div>
  </form>