<table class="table">
  <thead>     
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
    </tr>
  </thead>
  <tbody>
      {{#each this.chuyenmuc}}
      <tr>
      <th scope="row">{{IDChuyenMuc}}</th>
      <td>{{TomTat}}</td>
    </tr>
      {{/each}}
  </tbody>
</table>