<script src="https://cdn.tiny.cloud/1/u2o1c4pb0zs7hvi7vg1pu5qzpxrg6uqo244en4ldt00ij4ho/tinymce/5/tinymce.min.js"></script>
<script>tinymce.init({
  selector:'#txtContent',
  height: 200,
  menubar:false,
  plugins: 'paste image link autolink lists table media',
  toolbar: [
      'undo redo| bold italic underline strikethrough| numlist bullist ',
      'forecolor backcolor',
      'table link image media',],
      
  });</script>  
<div class="container-fluid mt-4">
        <form action="" method="POST">
        <div class="row">
          
            <div class="col-sm-2" style=" background-color: #f1f1f1;">
              <nav class="sidebar" style="width:100%" >
                  <div class="card shadow" style="margin-top:20px;">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item" >
                        <a style="color: black" class="nav active"  href="/PhongVien/DB" >
                        <i class='far fa-file-alt'style='font-size:20px; margin-right:7px'></i>
                        Thêm bài viết mới
                        </a>
                      </li>
                      <li class="list-group-item">
                        <a class="nav"  href="/PhongVien/HC" style="color: black">
                      <i class='fas fa-edit'style='font-size:20px; margin-right:5px'></i>
                        Hiệu chỉnh bài viết
                        </a>
                      </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                      <span>Danh sách bài viết</span>
                    </h6>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <a class="nav"  href="/PhongVien/XB" style="color: black">
                        <i class='fas fa-print'style='font-size:20px; margin-right:7px'></i>
                        Đã xuất bản
                        </a>
                      </li>
                      <li class="list-group-item">
                        <a class="nav"  href="/PhongVien/DD" style="color: black">
                        <i class='fas fa-thumbtack'style='font-size:20px; margin-right:10px;margin-left:3px'></i>
                        Đã duyệt
                        </a>
                      </li>
                      <li class="list-group-item">
                        <a class="nav"  href="/PhongVien/CD" style="color: black">
                        <i class='fas fa-coffee	'style='font-size:20px; margin-right:5px'></i>
                        Đang chờ duyệt
                        </a>
                      </li>
                      <li class="list-group-item">
                        <a class="nav"  href="/PhongVien/TC" style="color: black">
                        <i class='far fa-window-close	'style='font-size:20px; margin-right:10px'></i>
                        Bị từ chối
                        </a>
                      </li>
                    
                    </ul>
                    
                  
                </div>
              </nav>  
            </div>
            <div class="col-sm-10">
              <div class="container mt-3">
                                        <input class="form-control" id="myInput" type="text" placeholder="Search..">
                                        <br>
                                        <table class="table table-bordered" style="background: #FDF8F0 ">
                                          <thead class="thead-light">
                                            <tr>
                                              <th>STT</th>
                                              <th>Bài viết</th>
                                              <th>Chuyên mục</th>
                                              <th>Trạng thái</th>
                                              </tr>
                                          </thead>
                                          <tbody id="myTable">
                                            {{#each this.post}}
                                              <tr>
                                              <td>{{id}}</td>
                                              <td>{{title}}</td>
                                              <td>{{category}}</td>
                                              <td>{{status}}</td>
                                              </tr>
                                            <tr>
                                            

                                            {{/each}}
                                            
                                          </tbody>
                                        </table>
                                        
                                      </div>
           
            </div>
            
            
        </div>
        </form>
    </div>
    
     
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    