<script src="https://cdn.tiny.cloud/1/u2o1c4pb0zs7hvi7vg1pu5qzpxrg6uqo244en4ldt00ij4ho/tinymce/5/tinymce.min.js"></script>
<script>tinymce.init({
  selector:'#txtContent',
  height: 200,
  menubar:false,
  plugins: 'paste image link autolink lists table media',
  toolbar: [
      'undo redo| bold italic underline strikethrough| numlist bullist ',
      'forecolor backcolor',
      'table link image media',],
      
  });</script>  
<div class="container-fluid mt-4">
        <form action="" method="POST">
        <div class="row">
          
            <div class="col-sm-2" style=" background-color: #f1f1f1;">
              <nav class="sidebar" style="width:100%" >
                  <div class="card shadow" style="margin-top:20px;">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item" >
                        <a style="color: black" class="nav active"  href="/PhongVien/DB" >
                        <i class='far fa-file-alt'style='font-size:20px; margin-right:7px'></i>
                        Thêm bài viết mới
                        </a>
                      </li>
                      <li class="list-group-item">
                        <a class="nav"  href="/PhongVien/HC" style="color: black">
                      <i class='fas fa-edit'style='font-size:20px; margin-right:5px'></i>
                        Hiệu chỉnh bài viết
                        </a>
                      </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                      <span>Danh sách bài viết</span>
                    </h6>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <a class="nav"  href="/PhongVien/XB" style="color: black">
                        <i class='fas fa-print'style='font-size:20px; margin-right:7px'></i>
                        Đã xuất bản
                        </a>
                      </li>
                      <li class="list-group-item">
                        <a class="nav"  href="/PhongVien/DD" style="color: black">
                        <i class='fas fa-thumbtack'style='font-size:20px; margin-right:10px;margin-left:3px'></i>
                        Đã duyệt
                        </a>
                      </li>
                      <li class="list-group-item">
                        <a class="nav"  href="/PhongVien/CD" style="color: black">
                        <i class='fas fa-coffee	'style='font-size:20px; margin-right:5px'></i>
                        Đang chờ duyệt
                        </a>
                      </li>
                      <li class="list-group-item">
                        <a class="nav"  href="/PhongVien/TC" style="color: black">
                        <i class='far fa-window-close	'style='font-size:20px; margin-right:10px'></i>
                        Bị từ chối
                        </a>
                      </li>
                    
                    </ul>
                    
                  
                </div>
              </nav>  
            </div>
           
                
                    
            <div class="col-sm-8">
                  <div style=" width:80%;  margin: 0 auto;">
                        <div class="mb-3 ">
                          <label for="validationTextarea" style='font-size:18px;'>Tiêu đề *</label>
                          <textarea class="form-control" id="validationTextarea" placeholder="Tiêu đề ..."  required name="txtTitle"></textarea>
                          <div class="invalid-feedback">
                            Vui lòng nhập tiêu đề.
                          </div>
                        </div>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="validatedCustomFile" required name="txtImg">
                          <label class="custom-file-label" for="validatedCustomFile">Chọn ảnh đại diện bài viết...</label>
                          <div class="invalid-feedback">Vui lòng chọn ảnh</div>
                        </div>
                        <div class="form-group">
                          <label for="description" style='font-size:18px;'><b>Tóm tắt</b></label>
                          <textarea rows="3" class="form-control" name="txtDescription" ></textarea>
                        </div>
                        <div class="form-group">
                          <label for="content" style='font-size:18px;'><b>Nội dung</b></label>           
                          <textarea  class="form-control" name="txtContent" id="txtContent" ></textarea>
                        </div>
                        <br>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary" >
                            Đăng bài
                          </button>
                          <button class="btn btn-default" type="button" style="background:white">
                            <a href="/PhongVien/HC">Cancel</a>
                          </button>
                        </div>
                  </div>
            </div>
                      
                  

                
            <div class="col-sm-2" style=" background-color: #f1f1f1;">
                    
                    <div id="accordion">
                      <div class="card shadow">
                        <div class="card-header" >
                            <b>Chuyên mục:</b>
                            <a class="card-link" data-toggle="collapse" href="#collapseOne" style="float: right;">
                                
                                <i class='fas fa-angle-down'></i>
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                          <div class="card-body">
                            <div class="d-block my-3">
                                              <div class="form-check">
                                              {{#each this.categoryChild}}
                                              <input style="margin-left:5%"class="form-check-input" type="radio" name="group1[]" value="{{idCategoryChild}}" required/>
                                              <label style="margin-left:20%">
                                              {{nameCategoryChild}}</label>
                                              
                                              {{/each}}
                                              </div>          
                                                                    
                                                                                
                          
                                          
                            </div>
                          </div>
                      </div>
                    </div>
                    
                  </div>
                  
                  <br>
                  <div id="accordion2">
                    <div class="card shadow">
                      <div class="card-header" >
                          <b>Thẻ:</b>
                          <a class="card-link" data-toggle="collapse" href="#collapseTwo" style="float: right;">
                              <i class='fas fa-angle-down'></i>
                          </a>
                      </div>
                      <div id="collapseTwo" class="collapse show" data-parent="#accordion2">
                        <div class="card-body">
                          <div class="d-block my-3">
                            {{#each this.tag}}
                                <div class="form-check">
                                  <input style="margin-left:5%" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="{{idTag}}" name="group2[]">
                                  <label style="margin-left:20%" >{{nameTag}}</label>
                                </div>
                                              
                            {{/each}}             
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
               
            
    
            
            
        </div>
        </form>
    </div>
    
     
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    