<script src="https://cdn.tiny.cloud/1/u2o1c4pb0zs7hvi7vg1pu5qzpxrg6uqo244en4ldt00ij4ho/tinymce/5/tinymce.min.js"></script>
<script>tinymce.init({
  selector:'#txtContent',
  height: 200,
  menubar:false,
  plugins: 'paste image link autolink lists table media',
  toolbar: [
      'undo redo| bold italic underline strikethrough| numlist bullist ',
      'forecolor backcolor',
      'table link image media',],
      
  });</script>  
<div class="container-fluid mt-4">
        <form action="" method="POST">
        <div class="row">
          
            <div class="col-sm-2" style=" background-color: #f1f1f1;">
              <nav class="sidebar" style="width:100%" >
                  <div class="card shadow" style="margin-top:20px;">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item" >
                        <a style="color: black" class="nav active"  href="/PhongVien/DB" >
                        <i class='far fa-file-alt'style='font-size:20px; margin-right:7px'></i>
                        Thêm bài viết mới
                        </a>
                      </li>
                      <li class="list-group-item">
                        <a class="nav"  href="/PhongVien/HC" style="color: black">
                      <i class='fas fa-edit'style='font-size:20px; margin-right:5px'></i>
                        Hiệu chỉnh bài viết
                        </a>
                      </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                      <span>Danh sách bài viết</span>
                    </h6>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <a class="nav"  href="/PhongVien/XB" style="color: black">
                        <i class='fas fa-print'style='font-size:20px; margin-right:7px'></i>
                        Đã xuất bản
                        </a>
                      </li>
                      <li class="list-group-item">
                        <a class="nav"  href="/PhongVien/DD" style="color: black">
                        <i class='fas fa-thumbtack'style='font-size:20px; margin-right:10px;margin-left:3px'></i>
                        Đã duyệt
                        </a>
                      </li>
                      <li class="list-group-item">
                        <a class="nav"  href="/PhongVien/CD" style="color: black">
                        <i class='fas fa-coffee	'style='font-size:20px; margin-right:5px'></i>
                        Đang chờ duyệt
                        </a>
                      </li>
                      <li class="list-group-item">
                        <a class="nav"  href="/PhongVien/TC" style="color: black">
                        <i class='far fa-window-close	'style='font-size:20px; margin-right:10px'></i>
                        Bị từ chối
                        </a>
                      </li>
                    
                    </ul>
                    
                  
                </div>
              </nav>  
            </div>
           
            {{#if this.error}}
            <div class="alert alert-danger" style="margin-top: 5%">
              <strong>Lỗi!</strong> Không tìm thấy bài viết theo yêu cầu.
            </div>
            {{else}}     
                    
            <div class="col-sm-8">

                  <div style=" width:80%;  margin: 0 auto;">
                        <input   readonly type="text" class="form-control" id="txtId" name="txtId" style="visibility: hidden" value="{{this.posts.id}}">
                          <div class="mb-3">
                            <label for="validationTextarea" style='font-size:18px; magrin-bottom:3%' >Tiêu đề *</label>
                            <textarea class="form-control" id="validationTextarea" placeholder="Tiêu đề ..."  required name="txtTitle">{{this.posts.title}}</textarea>
                            <div class="invalid-feedback">
                              Vui lòng nhập tiêu đề.
                            </div>
                          </div>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="validatedCustomFile" style="magrin-bottom:3%" required name="txtImg" value="{{this.posts.img}}">
                            <label class="custom-file-label" for="validatedCustomFile">Chọn ảnh đại diện bài viết...</label>
                            <div class="invalid-feedback">Vui lòng chọn ảnh</div>
                          </div>
                          <div class="form-group">
                            <label for="description" style='font-size:18px;magrin-bottom:3%'><b>Tóm tắt</b></label>
                            <textarea rows="3" class="form-control" name="txtDescription" >{{this.posts.compendious}}</textarea>
                          </div>
                          <div class="form-group">
                            <label for="content" style='font-size:18px;magrin-bottom:3%'><b>Nội dung</b></label>           
                            <textarea  class="form-control" name="txtContent" id="txtContent" >{{this.posts.content}}</textarea>
                          </div>
                          <br>
                          <div class="form-group">
                            <button type="submit" class="btn btn-primary" >
                              Thay đổi
                            </button>
                            <button type="submit" class="btn btn-danger" formaction="/PhongVien/delete">
                              Xóa
                            </button>
                            <button class="btn btn-default" type="button" style="background:white">
                              <a href="/PhongVien/HC">Cancel</a>
                            </button>
                          </div>
                  </div>
            </div>
                      
                  

                
            <div class="col-sm-2" style=" background-color: #f1f1f1;">
                    
                    <div id="accordion">
                      <div class="card">
                        <div class="card-header" >
                            <b>Chuyên mục:</b>
                            <a class="card-link" data-toggle="collapse" href="#collapseOne" style="float: right;">
                                
                                <i class='fas fa-angle-down'></i>
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                          <div class="card-body">
                            <div class="d-block my-3">
                                              <div class="form-check">
                                              
                                              {{#each categoryChild}}
                                              
                                              <input style="margin-left:5%"class="form-check-input" id="{{idCategoryChild}}" type="radio" name="group1[]" value="{{idCategoryChild}}" required/>
                                              <label style="margin-left:20%">
                                              {{nameCategoryChild}}</label>
                                              
                                              <script>
                                                if({{static}}=="1")
                                                {
                                                  radiobtn = document.getElementById({{idCategoryChild}});
                                                  radiobtn.checked = true;
                                                }
                                              </script>
                                              {{/each}}
                                              </div>          
                                                                    
                                                                                
                          
                                          
                            </div>
                          </div>
                      </div>
                    </div>
                    
                  </div>
                  
                  <br>
                  <div id="accordion2">
                    <div class="card">
                      <div class="card-header" >
                          <b>Thẻ:</b>
                          <a class="card-link" data-toggle="collapse" href="#collapseTwo" style="float: right;">
                              <i class='fas fa-angle-down'></i>
                          </a>
                      </div>
                      <div id="collapseTwo" class="collapse show" data-parent="#accordion2">
                        <div class="card-body">
                          <div class="d-block my-3">
                              
                                {{#each this.tag}}
                                  <input style="margin-left:5%"class="form-check-input" type="checkbox" id="{{idTag}}a" value="{{idTag}}" name="group2[]">
                                  <label style="margin-left:20%" >{{nameTag}}</label>
                                  <script>
                                                if({{static2}}=="2")
                                                {
                                                  radiobtn2 = document.getElementById({{idTag}}+"a");
                                                  radiobtn2.checked = true;
                                                }
                                  </script> 
                                            
                                {{/each}} 
                                
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {{/if}}
              
               
            
    
            
            
        </div>
        </form>
    </div>
    
     
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    