<div class="row" style="margin-bottom: 50px; margin-top:50px;">
    <div class="col-sm-3" style="margin-top:20px; margin-left:20px; ">
        <div class="menu-lam shadow">
            <li id="category" class="item-lam">
                <a href="#category" class="btn-lam active"><i class="far fa-user"></i>Chuyên Mục</a>
                <div class="smenu-lam">
                    <a href="/admin">Chuyên mục cấp 1</a>
                    <a class="active">Chuyên mục cấp 2</a>
                </div>
            </li>

            <li class="item-lam">
                <a href="/admin/tag" class="btn-lam"><i class="far fa-envelope"></i>Nhãn-chuyên mục</a>
            </li>

            <li class="item-lam" id="post">
                <a href="#post" class="btn-lam"><i class="fas fa-cog"></i>Bài viết</a>
                <div class="smenu-lam">
                    <a href="draft">Draft</a>
                    <a href="xb">Xuất bản</a>
                </div>
            </li>

            <li class="item-lam" id="user">
                <a href="#user" class="btn-lam"><i class="fas fa-cog"></i>Người dùng</a>
                <div class="smenu-lam">
                    <a href="/admin/dsUser">Danh sách người dùng</a>
                    <a href="/admin/dsEditor">Biên tập viên</a>
                    <a href="/admin/dsGuess">Đọc giả</a>
                </div>
            </li>
        </div>
    </div>

    <div class="col-sm-8" style="margin-top:20px; ">

        <div class="card shadow">
            <h5 class="card-header">
                Danh Mục Chuyên mục
            </h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Mã chuyên mục</th>
                        <th scope="col">Tên chuyên mục</th>
                        <th scope="col">Tên chuyên mục cấp 1</th>
                        <th scope="col" class="text-right">
                            <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                data-target="#chuyenmuctag">Thêm chuyên mục</button>
                        </th>
                    </tr>
                </thead>

                <tbody>

                    {{#each this.data.categoryChild}}
                    <tr>
                        <form method="POST" action="/admin/editCategoryChild/{{idCategoryChild}}">

                            <td>{{idCategoryChild}}</td>
                            <td>{{nameCategoryChild}}</td>
                            <td>{{nameCategory}}</td>
                            <td class="text-right">
                                <a class="btn btn-primary btn-sm" role="button" data-toggle="modal"
                                    data-target="#editchuyenmuc">
                                    <i class="fa fa-edit" style="color: white;" aria-hidden="true"></i>
                                </a>

                            </td>
                            <div id="editchuyenmuc" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Hiệu chỉnh chuyên mục</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        </div>

                                        <div class="modal-body">
                                            <label for="txtitle">Tên chuyên mục:</label>
                                            <input type="text" class="form-control" id="new_category"
                                                name="new_category" autofocus>
                                            
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Lưu</button>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </form>
                    </tr>
                    {{/each}}
                </tbody>

            </table>
        </div>

    </div>
</div>
<div id="chuyenmuctag" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm chuyên mục</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <form method="POST" action="/admin/addCategoryChild">
                <div class="modal-body">

                    <label for="txtitle">Tên chuyên mục mới</label>
                    <input type="text" class="form-control" id="txtitle" name="new_category" autofocus>
                    <label for="txtitle">Chuyên mục cấp 1</label>
                    <div class="form-check">
                        {{#each this.data.category}}
                        <input style="margin-left:5%" class="form-check-input" type="radio" name="group1[]"
                            value="{{idCategory}}" required />
                        <label style="margin-left:20%">
                            {{nameCategory}}</label>

                        {{/each}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </div>
            </form>
        </div>

    </div>
</div>