<div class="row" style="margin-bottom: 50px; margin-top:50px;">
    <div class="col-sm-3" style="margin-top:20px; margin-left:20px; ">
        <div class="menu-lam shadow">
            <li id="category" class="item-lam">
                <a href="#category" class="btn-lam active"><i class="far fa-user"></i>Chuyên Mục</a>
                <div class="smenu-lam">
                    <a href="/admin">Chuyên mục cấp 1</a>
                    <a href="/admin/categoryChild">Chuyên mục cấp 2</a>
                </div>
            </li>

            <li class="item-lam">
                <a class="btn-lam active"><i class="far fa-envelope"></i>Nhãn-chuyên mục</a>
            </li>

            <li class="item-lam" id="post">
                <a href="#post" class="btn-lam"><i class="fas fa-cog"></i>Bài viết</a>
                <div class="smenu-lam">
                    <a href="draft">Draft</a>
                    <a href="xb">Xuất bản</a>
                </div>
            </li>

            <li class="item-lam" id="user">
                <a href="#user" class="btn-lam"><i class="fas fa-cog"></i>Người dùng</a>
                <div class="smenu-lam">
                    <a href="/admin/dsUser">Danh sách người dùng</a>
                    <a href="/admin/dsEditor">Biên tập viên</a>
                    <a href="/admin/dsGuess">Đọc giả</a>
                </div>
            </li>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Hiệu chỉnh quyền</h3>
                </div>
                <div class="card-body">
                    <form id="loginform" role="form" method="POST" action="/admin/editUser">
                        <input name="id" type="text" class="form-control" placeholder="id" value="{{this.data.user.id}}" style="visibility: hidden" > 
                        
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input name="username" type="text" class="form-control" placeholder="Username" value="{{this.data.user.username}}" readonly> 
                        </div>

                       
                        <input class="" value="{{this.data.user.usename}}" name="txtId" readonly>
                        <label for="txtitle">Quyền</label>
                        <div class="form-check">
                            {{#each this.data.roleUser}}
                            <input style="margin-left:5%" class="form-check-input" type="radio" name="group1[]"
                            id="{{id}}"    value="{{id}}" required />
                            <label style="margin-left:15%">
                                {{name}}</label>
                            <script>
                                if ({{ static2 }}== "1")
                                {
                                    radiobtn = document.getElementById({{ id }});
                                radiobtn.checked = true;
                                                }
                            </script>

                            {{/each}}
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Cập nhập" class="btn float-right btn-outline-danger">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>