<div class="row" style="margin-bottom: 50px; margin-top:50px;">
    <div class="col-sm-3" style="margin-top:20px; margin-left:20px; ">
        <div class="menu-lam shadow">
            <li id="category" class="item-lam">
                <a href="#category" class="btn-lam active"><i class="far fa-user"></i>Chuyên Mục</a>
                <div class="smenu-lam">
                    <a href="/admin">Chuyên mục cấp 1</a>
                    <a href="/admin/categoryChild">Chuyên mục cấp 2</a>
                </div>
            </li>

            <li class="item-lam">
                <a class="btn-lam active"><i class="far fa-envelope"></i>Nhãn-chuyên mục</a>
            </li>

            <li class="item-lam" id="post">
                <a href="#post" class="btn-lam"><i class="fas fa-cog"></i>Bài viết</a>
                <div class="smenu-lam">
                    <a href="draft">Draft</a>
                    <a href="xb">Xuất bản</a>
                </div>
            </li>

            <li class="item-lam" id="user">
                <a href="#user" class="btn-lam"><i class="fas fa-cog"></i>Người dùng</a>
                <div class="smenu-lam">
                    <a href="/admin/dsUser">Danh sách người dùng</a>
                    <a href="/admin/dsEditor">Biên tập viên</a>
                    <a href="/admin/dsGuess">Đọc giả</a>
                </div>
            </li>
        </div>
    </div>

    <div class="col-sm-8" style="margin-top:20px; ">

        <div class="card shadow">
            <h5 class="card-header">
                Danh sách người dùng
            </h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Mã người dùng</th>
                        <th scope="col">Username</th>
                        <th scope="col">Họ và tên</th>
                        <th scope="col">Quyền</th>
                    </tr>
                </thead>

                <tbody>

                    {{#each this.data.user}}
                    <tr>


                        <td>{{id}}</td>
                        <td>{{username}}</td>
                        <td>{{full_name}}</td>
                        <td>{{name}}</td>

                        <td class="text-right">
                            <a href="#" class="btn btn-danger btn-sm">
                                <i class="fa fa-times" style="color: white;" aria-hidden="true"></i>
                            </a>
                            <a href="/admin/edit/{{id}}" class="btn btn-primary btn-sm" role="button">
                                <i class="fa fa-edit" style="color: white;" aria-hidden="true"></i>
                            </a>

                        </td>

                    </tr>
                    {{/each}}
                </tbody>

            </table>
        </div>

    </div>
</div>
</div>