<div class="row" style="margin-bottom: 50px; margin-top:50px;">
    <div class="col-sm-3" style="margin-top:20px; margin-left:20px; ">
        <div class="menu-lam shadow">
             <li id="category" class="item-lam">
                <a href="#category" class="btn-lam active"><i class="far fa-user"></i>Chuyên Mục</a>
                <div class="smenu-lam">
                    <a href="cha">Chuyên mục cấp 1</a>
                    <a href="con">Chuyên mục cấp 2</a>
                </div>
            </li>

            <li class="item-lam">
                <a href="tag" class="btn-lam"><i class="far fa-envelope"></i>Nhãn-chuyên mục</a>
            </li>

            <li class="item-lam" id="post">
                <a href="#post" class="btn-lam"><i class="fas fa-cog"></i>Bài viết</a>
                <div class="smenu-lam">
                    <a class="active">Draft</a>
                    <a href="xb">Xuất bản</a>
                </div>
            </li>

            <li class="item-lam" id="user">
                <a href="#user" class="btn-lam"><i class="fas fa-cog"></i>Người dùng</a>
                <div class="smenu-lam">
                    <a href="pv">PV</a>
                    <a href="editor">Biên tập viên</a>
                    <a href="guess">Đọc giả</a>
                </div>
            </li>
        </div>
    </div>

    <div class="col-sm-8" style="margin-top:20px; ">
        <form method="" action="/editer">
            <div class="card shadow">
                <h5 class="card-header">
                    Danh Mục Chuyên mục
                </h5>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Mã bài viết</th>
                            <th scope="col">Tên bài viết</th>
                             <th scope="col">Tác giả</th>
                             <th scope="col">Ngày Đăng</th>
                           
                        </tr>
                    </thead>

                    <tbody>


                        <tr>
                            <td>1</td>
                            <td>Tôi là ai</td>
                            <td>ai là tôi</td>
                            <td>19/08/2019</td>

                            <td class="text-right">
                                 <a href="/editer/deny/{{id}}" class="btn btn-success btn-sm">
                                    <i class="fa fa-check" style="color: white;" aria-hidden="true"></i>
                                </a>
                                <a href="/editer/deny/{{id}}" class="btn btn-danger btn-sm">
                                    <i class="fa fa-times" style="color: white;" aria-hidden="true"></i>
                                </a>
                                <a class="btn btn-primary btn-sm" role="button" data-toggle="modal"
                                    data-target="#editchuyenmuc">
                                    <i class="fa fa-edit" style="color: white;" aria-hidden="true"></i>
                                </a>
                                 <a class="btn btn-primary btn-sm" role="button"  >
                                    <i class="fa fa-eye" style="color: white;" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>

                    </tbody>

                </table>
            </div>

    </div>

</div>
</div>
<div id="chuyenmuctag" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm chuyên mục</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <label for="txtitle">Tên chuyên mục mới</label>
                <input type="text" class="form-control" id="txtitle" name="title" autofocus>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Thêm</button>
            </div>
        </div>

    </div>
</div>
<div id="editchuyenmuc" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Hiệu chỉnh chuyên mục</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <label for="txtitle">Tên chuyên mục:</label>
                <input type="text" class="form-control" id="txtitle" name="title" autofocus>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
            </div>
        </div>

    </div>
</div>